$white: #ffffff;
$darker-white: #f7f7f7;
$grey-blue: #55748f;
$darker-grey-blue: #445d74;
$red: #f1684f;
$grey: #505458;
$blue: #2392ec;
$box-title-grey: #313a46;
$green: #4ad194;
$light-green: #52d298;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $darker-white;
}

h1,
h2,
h3,
h4,
a,
p,
span {
  font-family: Helvetica;
}

a,
p {
  font-size: 14px;
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

button {
  font-size: 14px;
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}

.error {
  font-size: 12px;
  margin-left: 5px;
  color: $red;
}

.status {
  color: $light-green;
  font-weight: 400;
  font-size: 14px;
}
